@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');




img {
  max-width: 150px;
  max-height: 150px;
}


.table {
  padding: 10px;
  padding-top: 15px;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tr,
.head {
  border: 1px solid #ddd;
  padding: 8px;

}

.head {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

h2 {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.btnVol {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  background-color: #081f2d;
  border-radius: 29px;
  border: 1px solid #081F2D;
  color: white;
  padding: 10px 45px;
  cursor: pointer;
  transition: 1s;
  border-width: 2px;
}

.btnVol:hover {
  background-color: white;
  color: #081F2D;
  border-color: #081F2D;
  border-width: 2px;
  transition: 1s;
}